@model IEnumerable<ActorsOfFilmVM>
@{
    ViewData["Title"] = "Find Films";
}
<h1>Результаты поиска:</h1>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Постер</th>
            <th>Описание</th>
            <th>Год</th>
            <th>Длительность</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
        <tr>
            <td>
                @film.Films.Name
            </td>
            <td>
                <img src=@film.Films.Img height=208 width=140/>
            </td>
            <td>
                @film.Films.Description
            </td>
            <td>
                @film.Films.Year
            </td>
            <td>
                @film.Films.Duration
            </td>
        </tr>
        }
    </tbody>
</table>